.header {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .header {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    margin-bottom: 88px;
  }
}

@media (max-width: 320px) {
  .header {
    margin-bottom: 64px;
  }
}
