@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.otf") format('OpenType');
  font-weight: normal;
}
@font-face {
  font-family: "Inter";
  src: url("InterDisplay-Black.woff2") format('woff2');
  font-weight: 900;
}
@font-face {
  font-family: "Inter";
  src: url("InterDisplay-Bold.woff2") format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Light.otf") format('OpenType');
  font-weight: 100;
}
