.cover {
  position: relative;
  width: 90%;
  height: 740px;
  max-width: 1184px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
  margin: 0 auto 92px;
}
@media (max-width: 1024px) {
  .cover {
    height: 640px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cover {
    height: 480px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .cover {
    height: 200px;
    width: 100%;
  }
}
