.place {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .place {
    margin-bottom: 73px;
  }
}
@media (max-width: 320px) {
  .place {
    margin-bottom: 50px;
  }
}
